<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- main.css -->
    <link rel="stylesheet" href="/public/main.css">
    
    <title>main</title>
  </head>
  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About Us</h4>
              <p class="text-muted">바다에 버려지는 폐 플라스틱을 활용한 원사 폐유리, 각종 탄소배출과 비윤리적 채굴을 막는<br>랩그로운 다이아몬드를 활용한 진정한 의미의 '친환경 주얼리'</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
            <strong>Logo</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <%- include('nav.html') %>

    <div class='"container' mt-5>
     <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20230227_211%2F16774924865330Xy2x_JPEG%2F78628382241374583_128221960.JPG&type=a340" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">오팔 925 실버 반지</h5>
            <p class="card-text">마지막 한점 클래식<br>오팔 스톤의 925 실버 반지</p>
            <a href="/write" class="btn btn-primary">구매하기</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20230309_280%2F16783321012799umpv_JPEG%2F79467989866776392_1161934311.JPG&type=a340" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Rokuzan</h5>
            <p class="card-text">마지막 한점 클래식 오팔 로쿠잔<br>자개 마카사이트 925 실버 귀걸이</p>
            <a href="/write" class="btn btn-primary">구매하기</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20230102_186%2F1672622335530KiRL8_JPEG%2F73758115166441335_211523401.JPG&type=a340" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">라피스라줄리</h5>
            <p class="card-text">12월의 탄생석 라피스라줄리<br>터키석 귀걸이</p>
            <a href="/write" class="btn btn-primary">구매하기</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20230317_290%2F16790470829899uaFA_JPEG%2F80182862708099062_1676540048.jpg&type=a340" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Amber 호박</h5>
            <p class="card-text">Amber 호박<br>16mm 금파 실버 귀걸이</p>
            <a href="/write" class="btn btn-primary">구매하기</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20230227_211%2F16774924865330Xy2x_JPEG%2F78628382241374583_128221960.JPG&type=a340" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">오팔 925 실버 반지</h5>
            <p class="card-text">마지막 한점 클래식<br>오팔 스톤의 925 실버 반지</p>
            <a href="/write" class="btn btn-primary">구매하기</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20230309_280%2F16783321012799umpv_JPEG%2F79467989866776392_1161934311.JPG&type=a340" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Rokuzan</h5>
            <p class="card-text">마지막 한점 클래식 오팔 로쿠잔<br>자개 마카사이트 925 실버 귀걸이</p>
            <a href="/write" class="btn btn-primary">구매하기</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20230102_186%2F1672622335530KiRL8_JPEG%2F73758115166441335_211523401.JPG&type=a340" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">라피스라줄리</h5>
            <p class="card-text">12월의 탄생석 라피스라줄리<br>터키석 귀걸이</p>
            <a href="/write" class="btn btn-primary">구매하기</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20230317_290%2F16790470829899uaFA_JPEG%2F80182862708099062_1676540048.jpg&type=a340" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Amber 호박</h5>
            <p class="card-text">Amber 호박<br>16mm 금파 실버 귀걸이</p>
            <a href="/write" class="btn btn-primary">구매하기</a>
          </div>
        </div>
      </div>
    </div>


  </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>이제 해외 어디서든 DOYNU 의 제품을 받아 보실수 있어요! 친환경 소재의 포장재를 최대한 활용해 모두 정성스레 포장되었으며,<br>
        일부 원석등이 깨짐을 방지 하기 위해 최소화한 플라스틱 랩핑을 하였습니다. 저희 드온은 영어로 의사소통 가능하며, 기타 궁금한 사항등 있으면 편하게 연락주세요!</p>
        드온 네이버 스마트스토어 <a href="https://smartstore.naver.com/deon1">방문하기</a> or <a href="https://smartstore.naver.com/deon1">인스타그램 방문하기</a>
      </div>
    </footer>

<!-- 디테일 정렬 필요 -->
<!-- <div class="container mt-5">
    <div class="row mt-5">
    <div class="col-md-2"> 안녕 </div>
    <div class="col-md-2"> 안녕 </div>
    </div>

  <div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    </div>
  </div> -->
  
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>