<!DOCTYPE html>
<html>
<head>
  <title>main</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

  <!-- main.css -->
  <link rel="stylesheet" href="/public/main.css">
</head>
<body>

<header></header>

<!-- <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About Us</h4>
          <p class="text-muted">바다에 버려지는 폐 플라스틱을 활용한 원사 폐유리, 각종 탄소배출과 비윤리적 채굴을 막는<br>랩그로운 다이아몬드를 활용한 진정한 의미의 '친환경 주얼리'</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Logo</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header> -->

<%- include('nav.html') %>

<div class="container wrapper">
  <div class="row justify-content-center">
    <!-- 1 -->
    <div class="col-md-3">
      <div class="card-light">
        <a href="https://smartstore.naver.com/deon1">
          <img src="https://cdn-images.farfetch-contents.com/20/40/37/62/20403762_50738085_600.jpg" class="card-img-top" alt="img">        
        </a>
        <div class="card-body">
          <p class="card-text">마지막 한 점<br>오팔 925 실버 반지</p>
          <p class="card-text">₩157,000</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="col-md-3">
      <div class="card-light">
        <a href="https://smartstore.naver.com/deon1">
          <img src="https://cdn-images.farfetch-contents.com/20/40/37/62/20403762_50738085_600.jpg" class="card-img-top" alt="img">        
        </a>
        <div class="card-body">
          <p class="card-text">마지막 한 점<br>클래식 오팔 로쿠잔</p>
          <p class="card-text">₩177,000</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="col-md-3">
      <div class="card-light">
        <a href="https://smartstore.naver.com/deon1">
          <img src="https://cdn-images.farfetch-contents.com/20/40/37/62/20403762_50738085_600.jpg" class="card-img-top" alt="img">        
        </a>
        <div class="card-body">
          <p class="card-text">12월의 탄생석<br>라피스라줄리 터키석 귀걸이</p>
          <p class="card-text">₩137,000</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="col-md-3">
      <div class="card-light">
        <a href="https://smartstore.naver.com/deon1">
          <img src="https://cdn-images.farfetch-contents.com/20/40/37/62/20403762_50738085_600.jpg" class="card-img-top" alt="img">        
        </a>
        <div class="card-body">
          <p class="card-text">Amber 호박<br>6mm 금파 실버 귀걸이</p>
          <p class="card-text">₩167,000</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- 5 -->
    <div class="col-md-3">
      <div class="card-light">
        <a href="https://smartstore.naver.com/deon1">
          <img src="https://cdn-images.farfetch-contents.com/20/40/37/62/20403762_50738085_600.jpg" class="card-img-top" alt="img">        
        </a>
        <div class="card-body">
          <p class="card-text">마지막 한 점<br>오팔 925 실버 반지</p>
          <p class="card-text">₩157,000</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="col-md-3">
      <div class="card-light">
        <a href="https://smartstore.naver.com/deon1">
          <img src="https://cdn-images.farfetch-contents.com/20/40/37/62/20403762_50738085_600.jpg" class="card-img-top" alt="img">        
        </a>
        <div class="card-body">
          <p class="card-text">마지막 한 점<br>클래식 오팔 로쿠잔</p>
          <p class="card-text">₩177,000</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="col-md-3">
      <div class="card-light">
        <a href="https://smartstore.naver.com/deon1">
          <img src="https://cdn-images.farfetch-contents.com/20/40/37/62/20403762_50738085_600.jpg" class="card-img-top" alt="img">        
        </a>
        <div class="card-body">
          <p class="card-text">12월의 탄생석<br>라피스라줄리 터키석 귀걸이</p>
          <p class="card-text">₩137,000</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="col-md-3">
      <div class="card-light">
        <a href="https://smartstore.naver.com/deon1">
          <img src="https://cdn-images.farfetch-contents.com/20/40/37/62/20403762_50738085_600.jpg" class="card-img-top" alt="img">        
        </a>
        <div class="card-body">
          <p class="card-text">Amber 호박<br>6mm 금파 실버 귀걸이</p>
          <p class="card-text">₩167,000</p>
        </div>
      </div>
    </div>
  </div>

</div>

<!---3개의 카드 컴포넌트-->
<div class="container wrapper">
  <div class="row justify-content-center">
    <!-- 1 -->
    <div class="col-md-3">
      <div class="card-light">
        <a href="https://smartstore.naver.com/deon1">
          <img src="https://cdn-images.farfetch-contents.com/20/40/37/62/20403762_50738085_600.jpg" class="card-img-top" alt="img">
        </a>
        <div class="card-body">
          <p class="card-text">마지막 한 점<br>오팔 925 실버 반지</p>
          <p class="card-text">₩157,000</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="col-md-3">
      <div class="card-light">
        <a href="https://smartstore.naver.com/deon1">
          <img src="https://cdn-images.farfetch-contents.com/20/40/37/62/20403762_50738085_600.jpg" class="card-img-top" alt="img">
        </a>
        <div class="card-body">
          <p class="card-text">마지막 한 점<br>클래식 오팔 로쿠잔</p>
          <p class="card-text">₩177,000</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="col-md-3">
      <div class="card-light">
        <a href="https://smartstore.naver.com/deon1">
          <img src="https://cdn-images.farfetch-contents.com/20/40/37/62/20403762_50738085_600.jpg" class="card-img-top" alt="img">
        </a>
        <div class="card-body">
          <p class="card-text">12월의 탄생석<br>라피스라줄리 터키석 귀걸이</p>
          <p class="card-text">₩137,000</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <!-- 4 -->
    <div class="col-md-3">
      <div class="card-light">
        <a href="https://smartstore.naver.com/deon1">
          <img src="https://cdn-images.farfetch-contents.com/20/40/37/62/20403762_50738085_600.jpg" class="card-img-top" alt="img">
        </a>
        <div class="card-body">
          <p class="card-text">Amber 호박<br>6mm 금파 실버 귀걸이</p>
          <p class="card-text">₩167,000</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="col-md-3">
      <div class="card-light">
        <a href="https://smartstore.naver.com/deon1">
          <img src="https://cdn-images.farfetch-contents.com/20/40/37/62/20403762_50738085_600.jpg" class="card-img-top" alt="img">
        </a>
        <div class="card-body">
          <p class="card-text">마지막 한 점<br>오팔 925 실버 반지</p>
          <p class="card-text">₩157,000</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="col-md-3">
      <div class="card-light">
        <a href="https://smartstore.naver.com/deon1">
          <img src="https://cdn-images.farfetch-contents.com/20/40/37/62/20403762_50738085_600.jpg" class="card-img-top" alt="img">
        </a>
        <div class="card-body">
          <p class="card-text">마지막 한 점<br>클래식 오팔 로쿠잔</p>
          <p class="card-text">₩177,000</p>
        </div>
      </div>
    </div>
  </div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KBjmkCUxW8zh3+jajqY4vKXKAqqbcL7nDRG0bFbhKQJN37A+BXAGU6FTjYSuHWTZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KBjmkCUxW8zh3+jajqY4vKXKAqqbcL7nDRG0bFbhKQJN37A+BXAGU6FTjYSuHWTZ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js" integrity="sha384-v7LmX5tWfGS5WrufqHz8uLXqcd2Bb/zQANePhZkDXQMHQWTX69HIM7d11muZZsx1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
-->
</body>
</html>
